
<header>
    <div class="div_image">
        <img class='ring' src="/images/circle.png" alt="neon circle">
        
    </div>
    <div class="menu_div" >
        <nav class="menu">
            <a href="/">HOME</a>
            <a href="/booksession">Book a session</a>
            <a href="/viewClients">Client bookings</a>
            <a href="/about">About</a>
            <a href="/contact">Contact us</a>
            
        </nav>
    </div>
 </header>
    
