<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/bartkey" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/stylesheet.css'>
    <title>About Us</title>
</head>
<body>
    <div>
        <%- include('partials/header') %>
    </div>
     <div>
        <div class="heading">
            <h1>GYM PUMP IT</h1>
        </div>
        <div>
            <h2>ABOUT US</h2>
        </div>
        <div class="about_wrap">
            <div class="about_p">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                    Non temporibus accusantium unde velit consequatur cupiditate pariatur ipsum minima similique fuga,
                    numquam corporis veritatis voluptas omnis ea minus enim corrupti aliquid!
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem provident atque, 
                    quis cumque laborum exercitationem ea quo magnam iste incidunt ipsa id vero, 
                    illo voluptatum nesciunt consequatur quam quia!
                </p>
            </div>
            <br><br>
            <div class="about_container">
                <div class="about_p_two">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Non temporibus accusantium unde velit consequatur cupiditate pariatur ipsum minima similique fuga,
                        numquam corporis veritatis voluptas omnis ea minus enim corrupti aliquid!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem provident atque, 
                        quis cumque laborum exercitationem ea quo magnam iste incidunt ipsa id vero, 
                        illo voluptatum nesciunt consequatur quam quia!
                    </p>
                </div>
                <div class="about_p_two">
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. 
                        Non temporibus accusantium unde velit consequatur cupiditate pariatur ipsum minima similique fuga,
                        numquam corporis veritatis voluptas omnis ea minus enim corrupti aliquid!
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut autem provident atque, 
                        quis cumque laborum exercitationem ea quo magnam iste incidunt ipsa id vero, 
                        illo voluptatum nesciunt consequatur quam quia!
                    </p>
                </div>
            </div>
            <div class="about_btn_div">
                <a href="/booksession"><button class="about_btn">BOOK NOW!!</button></a>
            </div>
        </div>
     </div>
     <%- include('partials/footer') %>
</body>
</html>