<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.cdnfonts.com/css/bartkey" rel="stylesheet">
    <link rel='stylesheet' href='/stylesheets/stylesheet.css'>
    <title>Conact Us</title>
</head>
<body>
    <div>
        <%- include('partials/header') %>
    </div>
     <div>
        <div class="heading">
            <h1>GYM PUMP IT</h1>
        </div>
        <div>
            <h2>Contact Us</h2>
        </div>
        <div class="contact_wrap">
            <div class="contact_container">
                <div class="about_p_two">
                    <p>
                            123 Faker Street,<br>
                            La la Street,<br>
                            Co. Nowhere
                        <br><br>
                        phone: 123456789
                    </p>
                </div>
                <div class="about_p_two">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2461.9567719150987!2d-8.471267123463383!3d51.8982529820756!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x484491554054737f%3A0x308d010b6b29a931!2sFLYEfit!5e0!3m2!1sen!2sie!4v1732046860427!5m2!1sen!2sie" 
                    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade">
                    </iframe>
                </div>
            </div>
            <div class="about_btn_div">
                <a href="/booksession"><button class="about_btn">BOOK NOW!!</button></a>
            </div>
        </div>
    </div>
 </div>
 <%- include('partials/footer') %>
</body>
</html>