<!--KILLIAN CONDON SMTHSON
    R0025573-->


<!DOCTYPE HTML>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/stylesheet.css'>
        <link href="https://fonts.cdnfonts.com/css/bartkey" rel="stylesheet">
    </head>
    <body>
        <div>
            <%- include('partials/header') %>
        </div>
         <div class="heading">
            <h1>GYM PUMP IT</h1>
        </div>
        <div class="div_a">
            <div class="text">
                <h3>Join Today</h3>
            </div>
            <div class="image_container">
                <div class="div_one">
                    <img src="/images/personal_trainer.jpg" class="gym_img">
                </div>

                <div class="div_one" id="img">
                    <img src="/images/weights.jpg" class="gym_img" >
                </div>
            </div>
        </div>
        <%- include('partials/footer') %>
    </body>
</html>